* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

:root {
	--font-size: 1.6rem;
	--font-family: 'Poppins';
}

body {
	font-size: var(--font-size);
	font-family: var(--font-family);
}
